/__pycache__
__pycache__/
dataset/FashionMNIST/raw/t10k-images-idx3-ubyte
dataset/FashionMNIST/raw/t10k-images-idx3-ubyte.gz
dataset/FashionMNIST/raw/t10k-labels-idx1-ubyte
dataset/FashionMNIST/raw/t10k-labels-idx1-ubyte.gz
dataset/FashionMNIST/raw/train-images-idx3-ubyte
dataset/FashionMNIST/raw/train-images-idx3-ubyte.gz
dataset/FashionMNIST/raw/train-labels-idx1-ubyte
dataset/FashionMNIST/raw/train-labels-idx1-ubyte.gz
.idea/vcs.xml
.idea/modules.xml
.idea/misc.xml
.idea/LTX-ML-Challenge.iml
.idea/inspectionProfiles/profiles_settings.xml
